form {
	width: 400px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  margin: 0 auto;
}
label {
	margin-right: 10px;
  width: 100px;
}
input[type="text"] {
	text-indent: 10px;
}
.hide {
	display: none;
}
input[type="button"] {
	background:green;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}
input[type="button"]:disabled {
	color: #000;
  background: none;
  cursor: not-allowed;
}
